
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
    color: white;
}

.header{
    /* text-decoration: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s *var(--i));

}

.navbar a:hover,
.navbar a.active{
    color: rgb(59, 199, 199);
    
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    height: 500px;
}

.home-img img {
    max-width: 450px;
}

.home-content h1 {
    font-size: 56px;
    font-weight:700;
}

.home-content h3 {
    font-size: 35px;
    font-weight: 500;
}

.home-content p {
    font-size: 25px;
    font-weight: 100;
}

.multiple-text {
    color: rgb(59, 199, 199);
}

.btn {
    font-size: medium;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color :  rgb(59, 199, 199);
    border: solid rgb(59, 199, 199);;
    width: 200px;
    height:40px;
    border-radius: 25px;
    padding: 0.5rem;
    margin-top: .5rem;
}

.social-media {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 300px;
    display: flex;
    justify-content: space-around;
    animation: inward 0.5s 1.5s ease-in-out forwards;
}

.social-media a{
    text-align: center;
    background-color: transparent;
    color :  rgb(59, 199, 199);
    border: solid rgb(59, 199, 199);;
    width: 60px;
    height:60px;
    padding: 1rem;
    /* transition: 0.3s; */
    
    box-shadow:5px 5px 10px  rgb(59, 199, 199);
}

.social-icon {
    border: solid white;
    width: 20px;
    height:20px;
    padding : 2px;
}

.social-icon:hover {
    box-shadow:5px 0px 15px rgb(59, 199, 199);
}

.btn:hover {
    width: 200px;
    height:45px;
    padding-top: 0.7rem;
    box-shadow:5px 5px 20px  rgb(59, 199, 199) ;
}


@keyframes inward {
    0% {
        transform: translateX(-100px);
    }
    90% {
        transform: translateX(20px);
    }

    100%{
        transform: translateX(2px);
    }
}